<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/title.ejs")%>
        <br>
        <h1 style="font-size:60px"><%=code%></h1>
        <span style="text-align: center; font-size:1rem">
            <br><br>
            Sorry, but <%=message%>
            <a href="/" style="margin-top: 30px; display: block;">Go back home</a>
        </span>
    </body>
</html>